{% macro accentAnimatedGradientBar(colors) %}
  {% set fwd %}{% for color in colors %}var(--color-{{ color.slug }}){% if not loop.last %},{% endif %}{% endfor %}{% endset %}
  <div
    class="w-full h-2 rounded-full bg-double animate-gradient-scroll"
    style="background-image: linear-gradient(90deg, {{ fwd ~ "," ~ fwd }})"
  ></div>
{% endmacro %}
