{% macro wrappedGradientBar(colors) %}
  {% set gradient %}{% for color in colors %}var(--color-{{ color.slug }}),{% endfor %}var(--color-{{ colors[0].slug }}){% endset %}
  <div
    class="w-full h-2 rounded-full"
    style="background-image: linear-gradient(90deg, {{ gradient }})"
  ></div>
{% endmacro %}
